@use "../abstracts/vars.scss" as vars;
@use "../abstracts/mixin.scss" as mixin;

.new-note-section {
  @include mixin.flex(space-between, center, row);
  padding: 20px 10px;
  background-color: vars.$darkGray;
  position: fixed;
  width: 100%;
  z-index: 7;
  bottom: 0;
  .new-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: vars.$blue;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  img {
    width: 30px;
    height: 30px;
  }
}
